$grey: #3B3B3B;
$red: #8C4A37;
$blue: #4A5656; 
$green: #777B5C;
$beige: #CBB9A9;
$beige_1: #E3DDD6;
$beige_2: #F1EEEB;
$black: #242424;
$white: #FFFFFF;
$main-green: #1A453E;
$stroke-gray: #F1F1F1;
$light-gray: #AAAAAA;
$gray-hover: #4B4B4B; 