@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'extends';
@import 'layout/header';
@import 'layout/slider';
@import 'layout/catalogue';
@import 'layout/innovations';
@import 'layout/production';
@import 'layout/interiors';
@import 'layout/projects';
@import 'layout/blog';
@import 'layout/about';
@import 'layout/footer';
@import 'layout/about-2';
@import 'layout/offer';


/*general styles*/
html {
  scroll-behavior: smooth;
}

body {
  @extend %main-font;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  @extend %wrapper-paddings;
}