@charset "UTF-8";
@font-face {
  font-family: "RC";
  src: url("../assets/fonts/RobotoCondensed-Regular.ttf");
  src: url("../assets/fonts/RobotoCondensed-Regular.eot") format("embedded-opentype"), url("../assets/fonts/RobotoCondensed-Regular.woff") format("woff"), url("../assets/fonts/RobotoCondensed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "RC";
  src: url("../assets/fonts/RobotoCondensed-Medium.ttf");
  src: url("../assets/fonts/RobotoCondensed-Medium.eot") format("embedded-opentype"), url("../assets/fonts/RobotoCondensed-Medium.woff") format("woff"), url("../assets/fonts/RobotoCondensed-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: "RC", sans-serif;
  font-size: 1.25rem;
  line-height: 1.3;
  font-style: normal;
  font-weight: 400;
  color: #3B3B3B;
}

.wrapper {
  padding-left: 9.7%;
  padding-right: 9.7%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.top {
  background-color: #F1EEEB;
}
.top__contacts {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top__tel {
  display: flex;
  gap: 2.5rem;
  font-size: 0.875rem;
  align-items: center;
}
.top__tel-number {
  font-weight: 700;
}
.top__tel-order-call {
  text-transform: uppercase;
}
.top__other-contacts {
  display: flex;
  gap: 5rem;
  font-size: 0.875rem;
  align-items: center;
}
.top__locations {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.top__socmedia {
  display: flex;
  align-items: center;
}
.top__socmedia-item {
  padding-left: 0.75rem;
}
.top__socmedia-img {
  width: 1.5rem;
  height: 1.5rem;
}

.header__menu {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
  z-index: 6;
}
.header__menu-logo {
  padding-right: 1rem;
}
.header__nav {
  padding-right: 5rem;
  display: flex;
  align-items: center;
}
.header__nav-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  column-gap: 3.5rem;
  padding: 0;
}
.header__nav-link {
  color: #3B3B3B;
  text-transform: uppercase;
  font-size: 1rem;
  transition: all 0.5s ease-in;
}
.header__nav-link:hover {
  color: #1A453E;
  border-bottom: 1px solid #1A453E;
}
.header__menu-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}


.slider__corousel {
  position: relative;
  margin-top: -1.8rem;
}
.slider__corousel-button {
  position: absolute;
  z-index: 2;
  top: 49.2%;
  max-width: 5%;
}
.slider__corousel-button_left {
  left: -2.5%;
}
.slider__corousel-button_right {
  right: -2.5%;
}
.slider__corousel-item {
  position: relative;
}
.slider__corousel-item img {
  width: 100%;
  height: auto;
}
.slider__corousel-item h2 {
  color: #FFFFFF;
  margin-top: -8.1rem;
  margin-left: 2.6rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.515rem;
}
.slider__corousel-item p {
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.171rem;
  margin-top: 0.67rem;
  margin-left: 2.5rem;
}

.slider__corousel {
  position: relative;
  margin-top: -1.8rem;
}
.slider__corousel-button {
  position: absolute;
  z-index: 2;
  top: 49.2%;
  max-width: 5%;
}
.slider__corousel-button_left {
  left: -2.5%;
}
.slider__corousel-button_right {
  right: -2.5%;
}
.slider__corousel-item {
  position: relative;
}
.slider__corousel-item img {
  width: 100%;
  height: auto;
}
.slider__corousel-item h2 {
  color: #FFFFFF;
  margin-top: -8.1rem;
  margin-left: 2.6rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.515rem;
}
.slider__corousel-item p {
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.171rem;
  margin-top: 0.67rem;
  margin-left: 2.5rem;
}



.main__innovations-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.main__innovations-title {
  font-size: 2.5rem;
}

.main__innovations-all {
  margin-top: -0.15rem;
  margin-right: 0.2rem;
}
.main__innovations-all a {
  color: #3B3B3B;
  font-size: 1rem;
  border-bottom: #8C4A37 solid 0.09rem;
  padding: 0.1rem;
}
.main__innovations-all a img {
  padding-left: 0.3rem;
  padding-bottom: 0.1rem;
}

.main__innovations-container {
  display: flex;
  justify-content: space-between;
}

.main__innovations-item-img {
  padding: 1.25rem 2rem 0.8rem;
  border: 1px solid #E3E3E3;
  border-radius: 0.5rem;
}

.innovations_item {
  max-width: 11rem;
  min-height: 7.8rem;
  padding: 1rem 0.5rem 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
}
.innovations_item_text {
  font-size: 1rem;
  line-height: 1.2;
}
.innovations_item_colors {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
.innovations_item_all-colors {
  font-size: 0.75rem;
  padding-left: 0.25rem;
  line-height: 1.5;
}

.main__production-title {
  font-size: 2.5rem;
  line-height: 1;
}

.main__production-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 1.8rem;
}
.main__production-contents p {
  line-height: 1.4;
}

.main__production-video {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 6rem;
}
.main__production-video .video-title {
  position: absolute;
  right: 5rem;
  white-space: nowrap;
}
.main__production-video .ellips {
  position: absolute;
  right: 0;
}
.main__production-video .play {
  position: absolute;
  right: 1.7rem;
}

.main__production-gallery {
  position: relative;
}
.main__production-gallery-btn {
  position: absolute;
  top: 37%;
}
.main__production-gallery .btn-left {
  left: -2rem;
}
.main__production-gallery .btn-right {
  right: -2rem;
}

.main__production-img-container {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.main__production-img-container img {
  width: 100%;
  height: auto;
}


.interiors__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.3rem;
}
.interiors__heading-title {
  font-size: 2.5rem;
  line-height: 1.4;
}
.interiors__heading-link {
  border-bottom: 1px solid #8C4A37;
  margin-top: -0.3rem;
  margin-right: 0.5rem;
  transition: all 0.5s ease-in;
}
.interiors__heading-link-text {
  color: #3B3B3B;
  font-size: 1rem;
}
.interiors__heading-link-text:hover {
  color: #1A453E;
}
.interiors__heading-link:hover {
  border-bottom: 1px solid #1A453E;
}

.interiors__grid {
  display: grid;
  grid-template-columns: 4.1fr 3.5fr 2.6fr;
  grid-template-rows: 14.6rem 14.6rem 25.6rem;
  grid-gap: 0.5rem;
  grid-template-areas: "item-1 item-2 item-3" "item-4 item-2 item-3" "item-4 item-5 item-5";
}
.interiors__grid-item {
  color: #FFFFFF;
  position: relative;
}
.interiors__grid-item-1 {
  grid-area: item-1;
  background: url(../assets/images/5-interiors/background-promo.svg);
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  line-height: 1.2;
  display: flex;
  align-items: flex-end;
}
.interiors__grid-item-2 {
  grid-area: item-2;
  background: url(../assets/images/5-interiors/rectangle-143.svg);
  background-position: center;
}
.interiors__grid-item-3 {
  grid-area: item-3;
  background: url(../assets/images/5-interiors/rectangle-147.svg);
  background-position: center;
}
.interiors__grid-item-4 {
  grid-area: item-4;
  background: url(../assets/images/5-interiors/rectangle-144.svg);
  background-position: center;
}
.interiors__grid-item-5 {
  grid-area: item-5;
  background: url(../assets/images/5-interiors/rectangle-145.svg);
  background-position: center;
}
.interiors__grid-img {
  position: absolute;
  top: 0;
  right: 0;
}

.demo-item {
  margin: 0.5rem;
  display: flex;
  gap: 0.25rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.demo-item__description {
  background-color: #242424;
  border-radius: 4px;
  opacity: 0.7;
  max-width: 11rem;
  min-height: 7.8rem;
  width: 11rem;
  height: 7.8rem;
  padding: 0.75rem 0.5rem 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
}
.demo-item__description-text {
  font-size: 1rem;
  line-height: 1.2;
}
.demo-item__description-colors {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
.demo-item__description-other-colors {
  font-size: 0.75rem;
  padding-left: 0.25rem;
  line-height: 1.5;
}

.projects__text {
  margin-bottom: 1.6rem;
  font-size: 2.5rem;
  line-height: 1.2;
}

.projects__carousel {
  display: flex;
  gap: 0.44rem;
  position: relative;
}
.projects__carousel-item {
  position: relative;
}
.projects__carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}
.projects__carousel-item p {
  position: absolute;
  bottom: 1.3rem;
  left: 1rem;
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 1.2;
}
.projects__carousel-button {
  position: absolute;
  z-index: 2;
  top: 42.5%;
  max-width: 5%;
}
.projects__carousel-button_left {
  left: -2.5%;
}
.projects__carousel-button_right {
  right: -2.5%;
}

.main__blog {
  margin-top: -0.6rem;
}
.main__blog-head {
  font-size: 2.5rem;
  margin-bottom: 1.4rem;
}
.main__blog-images {
  position: relative;
}
.main__blog-items {
  display: flex;
  gap: 0.5rem;
  justify-content: start;
}
.main__blog-item img {
  width: 100%;
  height: auto;
}
.main__blog-item p {
  font-size: 1rem;
  padding-top: 0.6rem;
}
.main__blog-button {
  position: absolute;
  z-index: 2;
  top: calc(50% - 3rem);
  max-width: 5%;
}
.main__blog-button_left {
  left: -2.5%;
}
.main__blog-button_right {
  right: -2.5%;
}

.blog-item p {
  padding-top: 0.5rem;
  font-size: 1rem;
  line-height: 1.2rem;
}

.about__1 {
  margin-top: 0.3rem;
  display: flexbox;
}
.about__1 h2 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}
.about__1 p {
  width: 42.5rem;
  max-width: 100%;
  padding-bottom: 1.5rem;
  font-size: 1.25rem;
}

.about__2 {
  margin-top: 0.256rem;
  margin-left: -0.18rem;
}
.about__2 a {
  color: #3B3B3B;
  font-size: 1rem;
  border-bottom: #8C4A37 solid 0.09rem;
  padding: 0.1rem;
}
.about__2 a img {
  padding-left: 0.3rem;
  padding-bottom: 0.1rem;
}

.about__3 {
  display: flex;
  padding-top: 2rem;
}
.about__3 img {
  width: 100%;
  height: auto;
}

/*general styles*/
body {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */