.about {
    padding-bottom: 6.1rem;

    &__heading-text {
      h2 {
          margin-bottom: 1.5rem;
          font-size: 2.5rem;

          @media screen and (max-width: $tablet) {
            font-size: 2rem;
            margin-top: -2rem;
          }
          @media screen and (max-width: $mobile) {
            font-size: 1.25rem;
            margin-top: -0.3rem;

          }
      }

      p {
          width: 42.5rem;
          max-width: 100%;
          padding-bottom: 1.5rem;
          font-size: 1.25rem;

          @media screen and (max-width: $tablet) {
            width: 32rem;
            font-size: 1rem;
            margin-top: -0.5rem;
            line-height: 1.55rem;
            padding-bottom: 2.2rem;
          }

          @media screen and (max-width: $mobile) {
            font-size: 0.875rem;
            margin-top: -0.55rem;
            width: 20rem;
            line-height: 1.25rem;
          }
      }
  }
  &__link-item {
          margin-top: 0.256rem;
          margin-left: -0.18rem;

          @media screen and (max-width: $tablet) {
            margin-top: -0.8rem;
          }
          @media screen and (max-width: $mobile) {
            margin-top: -1rem;
            margin-left: -0.1rem;
          }

      a {
          color: $grey;
          font-size: 1rem;
          border-bottom: $red solid 0.09rem;
          padding: 0.1rem;

          @media screen and (max-width: $tablet){
            font-size: 0.875rem;
          }
          @media screen and (max-width: $mobile) {
            font-size: 0.75rem;
          }
      }

      a {
          img {
              padding-left: 0.3rem;
              padding-bottom: 0.1rem;
          }
      }
  }

  &__img-item {
      display: flex;
      padding-top: 2rem;

      @media screen and (max-width: $tablet) {
        margin-top: -0.5rem;
      }

      img {
          width: 100%;
          height: auto;

          @media screen and (max-width: $mobile) {
            width: 21.5rem;
          }
      }
  }
}
