.main__blog {
    margin-top: -0.6rem;

    @media (min-width: $mobile) and (max-width: $tablet) {
      margin-top: -1.2rem;
    }

    &-head {
        font-size: 2.5rem;
        margin-bottom: 1.4rem;

        @media screen and (max-width: $mobile){
          font-size: 1.5rem;
        }

        @media (min-width: $mobile) and (max-width: $tablet) {
          font-size: 2rem;
        }
    }
    &-images {
        position: relative;
    }
    &-items {
        display: flex;
        gap: 0.5rem;
        justify-content: start;
    }
    &-item {
      @media (min-width: $mobile) and (max-width: $tablet) {
        margin-top: -0.6rem;
      }
        img {
            width: 100%;
            height: auto;
      }
        p {
            font-size: 1rem;
            padding-top: 0.6rem;

            @media screen and (max-width: $mobile) {
              font-size: 0.2rem;
              padding-top: 0.1rem;
            }

            @media (min-width: $mobile) and (max-width: $tablet) {
              font-size: 0.875rem;
              padding-top: 0.1rem;
            }
            
            @media (min-width: $tablet) and (max-width: 1130px) {
              font-size: 0.5rem;
            }

      }
    }
    &-button {
        position: absolute;
        z-index: 2;
        top: calc(50% - 3rem);
        max-width: 5%;

        @media screen and (max-width: $mobile) {
          top: 30%;
        }

        @media (min-width: $mobile) and (max-width: $tablet) {
          top: 19%;
          max-width: 7.5%;
        }
      &_left {
          left: -2.5%;
          @media (min-width: $mobile) and (max-width: $tablet) {
            left: -3.8%;
          }
      }
      &_right {
          right: -2.5%;
          @media (min-width: $mobile) and (max-width: $tablet) {
            right: -3.8%;
          }
      }
    }
  }
  .blog-item {
    p {
      padding-top: 0.5rem;
      font-size: 1rem;
      line-height: 1.2rem;
    }
  }