.main__blog {
    margin-top: -0.6rem;
    
    &-head {
        font-size: 2.5rem;
        margin-bottom: 1.4rem;
    }
    &-images {
        position: relative;
    }
    &-items {
        display: flex;
        gap: 0.5rem;
        justify-content: start;
    }
    &-item {
        img {
            width: 100%;
            height: auto;
      }
        p {
            font-size: 1rem;
            padding-top: 0.6rem;
      }
    }
    &-button {
        position: absolute;
        z-index: 2;
        top: calc(50% - 3rem);
        max-width: 5%;
      &_left {
          left: -2.5%;
      }
      &_right {
          right: -2.5%;
      }
    }
  }
  .blog-item {
    p {
      padding-top: 0.5rem;
      font-size: 1rem;
      line-height: 1.2rem;
    }
  }