.blog {


    @media screen and (max-width: $mobile) {
      margin-top: -2.4rem;
    }

    @media (min-width: $mobile) and (max-width: $tablet) {
      margin-top: -1.2rem;
    }

    &__heading {
        font-size: 2.5rem;
        margin-bottom: 1.4rem;

        @media screen and (max-width: $tablet) {
          font-size: 2rem;
        }

        @media screen and (max-width: $mobile){
          font-size: 1.3rem;
        }
    }

    &-images {
        position: relative;
    }
    &-items {
        display: flex;
        gap: 0.5rem;
        justify-content: start;

        @media screen and (max-width: $mobile) {
          gap: 0.2rem;
        }
    }
    &-item {

      @media screen and (max-width: $tablet) {
        &-4 {
          display: none;
      }

      @media screen and (max-width: $large-mobile) {
        &-2 {
          display: none;
        }

        &-4 {
          display: none;
        }
      }

      @media screen and (max-width: $mobile) {
        margin-top: -0.5rem;
        &-2 {
          display: none;
        }

        &-4 {
          display: none;
        }
      }
    }
        img {
            width: 100%;
            height: auto;

            @media screen and (max-width: $mobile) {
              width: 10rem;
            }
            @media screen and (max-width: 290px) {
              width: 8rem;
            }
      }
        p {
            font-size: 1rem;
            padding-top: 0.6rem;

            @media screen and (max-width: $large-tablet) {
              font-size: 1rem;
            }

            @media screen and (max-width: $tablet) {
              font-size: 0.875rem;
              padding-top: 0.1rem;
            }


            @media screen and (max-width: $mobile) {
              width: 11rem;
              font-size: 0.75rem;
              margin-top: -0.15rem;
              padding-top: 0.1rem;
              line-height: 1rem;
            }

            @media screen and (max-width: 290px) {
              width: 10rem;
              font-size: 0.6rem;
            }

      }
    }
    &-button {
        position: absolute;
        z-index: 2;
        top: calc(50% - 3rem);
        max-width: 5%;

        @media screen and (max-width: $large-tablet) {
          top: 25%;
        }
        @media screen and (max-width: $tablet) {
          top: 19%;
          max-width: 7.5%;
        }
        @media screen and (max-width: $large-mobile) {
          margin-top: 3.5%;
          max-width: 8%;
        }
        @media screen and (max-width: $mobile) {
          margin-top: 4%;
        }
        @media screen and (max-width: 290px) {
          margin-top: 2%;;
        }

      &_left {
          left: -2.5%;

          @media screen and (max-width: $tablet) {
            left: -3.8%;
          }
          @media screen and (max-width: $large-mobile) {
            left: -3.5%;
          }
          @media screen and (max-width: $mobile) {
            left: -3.7%;
          }
          @media screen and (max-width: 290px) {
            left: -3.7%;
          }
      }
      &_right {
          right: -2.5%;

          @media screen and (max-width: $tablet) {
            right: -3.8%;
          }
          @media screen and (max-width: $large-mobile) {
            right: -4.5%;
          }
          @media screen and (max-width: $mobile) {
            right: -3.7%;
          }
          @media screen and (max-width: 290px) {
            right: -3.7%;
          }
      }
    }
  }
