.top {
  background-color: $beige_2;

  &__contacts {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $large-tablet) {
      padding-top: 0.4rem;
      padding-bottom: 0.3rem;
    }
  }

  &__tel {
    display: flex;
    gap: 2.5rem;
    font-size: 0.875rem;
    align-items: center;
    @media screen and (max-width: $large-tablet) {
      gap: 1.5rem;
    }

    &-number {
      font-weight: 700;
    }

    &-order-call {
      text-transform: uppercase;
    }
  }

  &__other-contacts {
    display: flex;
    gap: 5rem;
    font-size: 0.875rem;
    align-items: center;

    @media screen and (max-width: $large-tablet) {
      gap: 2.2rem;
    }
  }

  &__locations {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  &__socmedia {
    display: flex;
    align-items: center;

    &-item {
      padding-left: 0.75rem;
    }

    &-img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.header {
  &__menu {
    padding-top: 1.4rem;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: $white;
    z-index: 6;

    &-logo {
      padding-right: 1rem;

      @media screen and (max-width: $large-tablet) {
        width: 8.5rem;
      }
    }
  }

  &__nav {
    padding-right: 5rem;
    display: flex;
    align-items: center;

    &-container {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(5, max-content);
      grid-template-rows: 1fr;
      column-gap: 3.5rem;

      @media screen and (max-width: $small-desktop) {
        grid-template-columns: repeat(3, max-content);
        grid-template-rows: repeat(2, 1fr);
      }
      @media screen and (max-width: $large-tablet) {
        display: none;
      }

    }

    &-link {
      color: $grey;
      text-transform: uppercase;
      font-size: 1rem;
      transition: $transition;

      &:hover {
        color: $main-green;
        border-bottom: 1px solid $main-green;
      }
    }
  }

  &__menu-icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-left: 1rem;
  }

  &__burger {
    display: none;
    @media screen and (max-width: $large-tablet) {
      display: flex;
      margin-left: 1.5rem;
    }
  }
}
