.top {
  background-color: $beige_2;

  &__contacts {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__tel {
    display: flex;
    gap: 2.5rem;
    font-size: 0.875rem;
    align-items: center;

    &-number {
      font-weight: 700;
    }

    &-order-call {
      text-transform: uppercase;
    }
  }

  &__other-contacts {
    display: flex;
    gap: 5rem;
    font-size: 0.875rem;
    align-items: center;
  }

  &__locations {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  &__socmedia {
    display: flex;
    align-items: center;

    &-item {
      padding-left: 0.75rem;
    }

    &-img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.header {
  &__menu {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: $white;
    z-index: 6;

    &-logo {
      padding-right: 1rem;
    }
  }

  &__nav {
    padding-right: 5rem;
    display: flex;
    align-items: center;

    &-container {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      align-items: center;
      justify-content: flex-end;
      column-gap: 3.5rem;
      padding: 0;
    }
    &-link {
      color: $grey;
      text-transform: uppercase;
      font-size: 1rem;
      transition: $transition;

      &:hover {
        color: $main-green;
        border-bottom: 1px solid $main-green;
      }
    }
  }

  &__menu-icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-left: 1rem;
  }
}
