.production__title {
    font-size: 2.5rem;
    line-height: 1;
}

.production__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 1.8rem;

    p{
        line-height: 1.4;
    }
}

.production__video {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 6rem;

    &-title{
        position: absolute;
        right: 5rem;
        white-space: nowrap;
    }

    &-ellips{
        position: absolute;
        right: 0;
    }

    &-play{
        position: absolute;
        right: 1.7rem;
    }
}

.production__gallery{
    position: relative;

    &-btn{
      position: absolute;
      top: calc(50% - 1.7rem);
      max-width: 5%;

      &-left{
        left: -2.5%;
      }

      &-right{
        right: -2.5%;
      }
    }
}
.production__img-container{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;

    img{
      width: 100%;
      height: auto;
    }
}
