.projects__text {
  margin-bottom: 1.6rem;
  font-size: 2.5rem;
  line-height: 1.2;

  @media screen and (max-width: $mobile) {
    font-size: 1.5rem;
    line-height: 1.3;
  }

  @media (min-width: $mobile) and (max-width: $tablet) {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
.projects__carousel {
  display: flex;
  gap: 0.44rem;
  position: relative;
    &-item {
      position: relative;

      @media (min-width: $mobile) and (max-width: $tablet) {
        position: relative;
        &-4 {
          display: none;
        }
      }
      
      img {
        width: 100%;
        height: auto;
        border-radius: 0.5rem;
      }

      p {
        position: absolute;
        bottom: 1.3rem;
        left: 1rem;
        color: $white;
        font-size: 1rem;
        line-height: 1.2;

        @media screen and (max-width: $mobile){
          font-size: 0.1rem;
          left: 0.4rem;
          bottom: 1rem;
          line-height: 1.4;
        }

        @media (min-width: $mobile) and (max-width: $tablet) {
          font-size: 0.875rem;
          left: 0.5rem;
          top: 81%;
        }

        @media (min-width: $tablet) and (max-width: 1206px) {
          font-size: 0.5rem;
        }

      }
    }
    
    &-button {
      position: absolute;
      z-index: 2;
      top: 42.5%;
      max-width: 5%;

      @media (min-width: $mobile) and (max-width: $tablet) {
        max-width: 7.5%;
        top: 40%;
      }
      
      &_left {
        left: -2.5%;

        @media (min-width: $mobile) and (max-width: $tablet) {
          left: -4%;
        }
      }

      &_right {
        right: -2.5%;

        @media (min-width: $mobile) and (max-width: $tablet) {
          right: -4%;
        }
      }
    }
}