.production{
    display: flexbox;

    h2{
        font-size: 2.5rem;
        margin-bottom: 2.4375rem;
    }
    p{
        font-size: 1.25rem;
        width: 41.25rem;
        padding-bottom: 2rem;
    }
}
